body {
    font-family     : 'Montserrat', sans-serif;
    font-size       : 15px;
    line-height     : 30px;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

a {
    text-decoration: none;
    color          : #1e1e1e;
    font-weight    : 600;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1170px;
}

$color: #1e1e1e;

.section-header {
    max-width: 55%;

    p {
        margin-top: 30px;
    }
}

.sec-title {
    font-weight: 800;
    font-size  : 58px;
}

.section-padding {
    padding: 100px 0;
}

.btn-primary {
    color           : #1e1e1e;
    background-color: #ffe600;
    border-color    : #ffe600;
    padding         : 10px 30px;

    &:hover {
        background-color: #1e1e1e;
        color           : #fff;
        border-color    : #1e1e1e;
    }
}

.header {
    .navbar-light .navbar-nav .nav-link {
        font-size     : 16px;
        font-weight   : 500;
        padding       : 15px 30px;
        text-transform: uppercase;
    }
}

.banner-section {
    padding: 150px 0;

    .banner-img {
        text-align: right;

    }
}

.banner-txt {
    h1 {
        font-size  : 60px;
        line-height: 80px;
        color      : $color;
        font-weight: 800;

        span {
            display: block;
        }
    }

    p {
        max-width: 90%;
        margin   : 30px 0;
    }
}

/*
    Portfolio CSS
*/
.portfolio-menu {
    margin: 60px 0;

    ul {
        padding   : 0;
        margin    : 0;
        list-style: none;

        li {
            display: inline-block;

            a {
                color          : #1e1e1e;
                padding        : 10px 20px;
                text-decoration: none;

                &.active {
                    background-color: #ffe600;
                }
            }
        }
    }
}

.portfolio-item {
    position     : relative;
    margin-bottom: 30px;
    cursor       : pointer;

    &::before {
        position        : absolute;
        left            : 0;
        top             : 0;
        width           : 100%;
        height          : 100%;
        content         : "";
        background-color: #ffe600;
    }

    img {
        width: 100%;
    }

    .pt-info {
        position  : absolute;
        left      : 50%;
        top       : 50%;
        transform : translate(-50%, -50%);
        text-align: center;
        opacity   : 0;
        transition: .4s;
        z-index   : 2;

        h3 {
            font-size: 30px;
        }
    }

    &:hover .pt-info {
        opacity: 1;
    }
}

.grid-sizer,
.portfolio-item {
    background-clip: content-box;
    width          : 31.33%;
}

.branding-area {
    padding: 100px 0;

    .owl-carousel {
        .owl-item img {
            width : auto;
            margin: 0 auto;
        }
    }
}

.owl-dots button span {
    width        : 10px;
    height       : 10px;
    display      : inline-block;
    padding      : 5px;
    background   : #ffe600;
    margin       : 0 6px;
    border-radius: 50%;
}

.owl-dots {
    text-align: center;
}

.owl-nav button {
    position: absolute;
    left    : -50px;
    top     : 20%;
    display : inline-block;

    &.owl-next {
        left : auto;
        right: -50px;
    }
}

.owl-nav button span {
    display    : inline-block;
    width      : 40px;
    height     : 40px;
    background : #ffe600d6;
    line-height: 36px;
    color      : #fff;
    font-size  : 29px;
}

.team-card {
    position: relative;

    .member-info {
        background: #ffe600;
        position  : absolute;
        bottom    : 0;
        padding   : 20px 20px 10px 35px;
        width     : 75%;

        h3 {
            font-size    : 20px;
            margin-bottom: 5px;
        }

        span {
            color: #fff;
        }
    }
}

.about-txt {
    a {
        color     : #1e1e1e;
        margin-top: 40px;
        display   : block;
    }
}

.contact-form {
    max-width: 90%;

    h3 {
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 20px;

        input,
        textarea {
            background-color: #fafafa;
            border          : 0 none;
            padding         : 12px 20px;
        }

        textarea {
            min-height: 180px;
        }
    }
}

.contact-widget {
    float  : left;
    width  : 33.33%;
    padding: 60px 50px;

    p {
        margin: 0;
        a{
            font-weight: 400;
        }
    }

    span {
        display      : block;
        margin-bottom: 30px;
    }
}
.contact-share {
    text-align: center;
    span {
        margin: 0 25px;
        font-size: 30px;
    }
}
.footer-copyrights {
    background: #000;
    p{
        color: #fff;
        padding-top: 10px;
        margin-left: 20px;
        font-size: 13px;
    }
}
a#scrollUp {
    right: 80px;
    bottom: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
}